main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    height: fit-content;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    text-align: center;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,button{
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }
        button{
            background-color: rgb(133, 0, 0);
            color: whitesmoke;
            cursor: pointer;
        }
    }

    .toggleAuthForm{
        color: red;
        cursor: pointer;
        text-decoration: none;
    }
}